{% extends 'user/espaceAbonnes.html.twig' %}

{% block title %} {{ sortie.nom }} {% endblock %}

{% block main %}


      <div class="affichage_sortie">

         <p>  Nom de la sortie : {{ sortie.nom }} </p>
         <p>  Date et Heure de la sortie : {{ sortie.dateHeureDebut | date("Y-m-d H:i") }} </p>
         <p>  Date limite d'inscription : {{ sortie.dateLimiteInscription | date("Y-m-d H:i") }} </p>
         <p>  Nombre de places : {{ sortie.nbInscriptionsMax }}</p>
         <p>  Durée : {{ sortie.duree | date("H:i") }} minutes </p>
         <p>  Description et infos : {{ sortie.infosSortie }} </p>

      </div>



    <p>Liste des participants : </p>

   <table>
        <tr>
            <th> Pseudo </th>
            <th> Nom </th>
        </tr>

    {% for participant in sortie.participants %}
       <tr>
            <td>{{ app.user.pseudo }}</td>
            <td>{{ app.user.nom }} {{ app.user.prenom }}</td>
       </tr>
    {% endfor %}

    </table>



{% endblock %}

