{% extends 'user/espaceAbonnes.html.twig' %}

{% block title %} Modifier une sortie {% endblock %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-2 col-md-8 col-md-2">
            <div class="jumbotron"><span class="align-middle"></span>
    <h2>Modifier une sortie</h2><br>

                <div class="col">
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}<br>

        <a href="{{ path('listSorties') }}">
            <button class= "btn btn-primary" type="submit"> Enregistrer </button>
        </a>
        <a href="{{ path('listSorties') }}">
            <button class= "btn btn-primary" type="submit"> Publier une sortie </button>
        </a>
        <a href="{{ path('sortie_delete', {'id': sortie.id}) }}">
            <button class= "btn btn-primary" type="submit"> Supprimer une sortie </button>
        </a>
        <a href="{{ path('listSorties') }}">
        <button class= "btn btn-primary"> Annuler </button><br>
        </a>

        {{ form_end(sortieForm) }}<br><br>
    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

