{% extends 'base.html.twig' %}
        {% block title %} Accueil Abonnés {% endblock %}

        {% block main %}


            <!-- date + nom -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-8"></div>
                    <div class="col-md-4">
                        <p class="date"> Date du jour : {{ "now" | date('d/m/y') }}</p>
                        <p class="date"> Participant : {{ app.user.nom | upper }} &nbsp {{ app.user.prenom }}</p>
                    </div>
                </div>


                <!-- filtre + date -->
                <div class="row">
                    <div class="col-xl-4">
                        <div class="campus">

                            <h3>Filtrer les sorties</h3>

                            <label for="campus_name">Campus</label>

                            <select name="campus_liste" id="campus_liste">

                                <option style="display:none">

                                    {% for campus in campusList %}
                                <option>{{ campus.nom }}</option>
                                {% endfor %}

                            </select>
                        </div>


                        <div class="temps">
                            <label for="start">Du:</label>
                            <input type="date" id="start" name="trip-start"
                                   value="date" min="2021-01-31" max="2022-01-31">
                            <label for="start">Au:</label>
                            <input type="date" id="start" name="trip-start"
                                   value="date" min="2021-01-31" max="2022-01-31">
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="select">
                            <div>
                                <input type="checkbox" id="sortie_org" name="sortie_org"
                                       checked>
                                <label for="sortie_org">Sorties dont je suis l'organisateur/trice</label>
                            </div>

                            <div>
                                <input type="checkbox" id="sortie_inscrits" name="sortie_inscrits">
                                <label for="sortie_inscrits">Sorties auxquelles je suis inscrit/e</label>
                            </div>

                            <div>
                                <input type="checkbox" id="sortie_pas_inscrits" name="sortie_pas_inscrits">
                                <label for="sortie_pas_inscrits">Sorties auxquelles je ne suis pas inscrit/e</label>
                            </div>

                            <div>
                                <input type="checkbox" id="sortie_passées" name="sortie_passées">
                                <label for="sortie_passées">Sorties passées</label>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="recherche">
                            <button type="button" class="btn btn-primary btn-lg">Rechercher</button>
                        </div>
                    </div>
                </div>

                <!-- Tableau -->

                <div class="row">
                    <div class="col-xl-12">
                        <table>
                            <tr>
                                <th>Nom de la sortie</th>
                                <th>Date de la sortie</th>
                                <th>Clôture</th>
                                <th>Inscrits/Places</th>
                                <th>Etat</th>
                                <th>Organisateur</th>
                                <th>Actions</th>
                            </tr>


                            {% for sortie in sortieList %}
                            <tr>
                                <td>{{ sortie.nom }}</td>
                                <td>{{ sortie.dateHeureDebut | date("d/m/Y H:i") }}</td>
                                <td>{{ sortie.dateLimiteInscription | date("d/m/Y") }}</td>
                                <td>{# sortie.participants #} {{ sortie.nbInscriptionsMax }}</td>
                                <td>{{ sortie.etat }} </td>
                                <td>{# participant.nom #}</td>
                                <td>
                                    <a href="{{ path('afficher_sortie', {'id': sortie.id}) }}">
                                        <button class="btn btn-primary" type="submit">Afficher</button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">

                        <a href="{{ path('creer_sortie') }}">
                            <button type="button" class="btn btn-primary btn-lg">Créer une sortie</button>
                        </a>

                    </div>
                </div>
            </div>
        {% endblock %}