{% extends 'base.html.twig' %}
{% block title %} espaceAbonnes {% endblock %}

{% block main %}

    <p class="date"> Date du jour : {{ "now" | date('d/m/y') }}</p>
    <p class="date"> Participant : {{ app.user.nom | upper }} &nbsp {{ app.user.prenom }}</p>
    <div class="recherche">
        <button type="button" class="btn btn-primary btn-lg">Rechercher</button>
    </div>
    <div class="campus">

        <h3>Filtrer les sorties</h3>

        <label for="campus_name">Campus</label>

        <select name="campus_liste" id="campus_liste">
            <option style="display:none">
            {% for campus in campusList %}
                <option>{{ campus.nom }}</option>
            {% endfor %}
        </select>
        <br><br>
    </div>

    <div class="temps">
        <label for="start">Entrée:</label>
        <input type="date" id="start" name="trip-start"
               value="date" min="2021-01-31" max="2022-01-31">
        <label for="start">Et:</label>
        <input type="date" id="start" name="trip-start"
               value="date" min="2021-01-31" max="2022-01-31">
    </div>


    <div class="select">
        <div>
            <input type="checkbox" id="sortie_org" name="sortie_org"
                   checked>
            <label for="sortie_org">Sorties dont je suis l'organisateur/trice</label>
        </div>

        <div>
            <input type="checkbox" id="sortie_inscrits" name="sortie_inscrits">
            <label for="sortie_inscrits">Sorties auxquelles je suis inscrit/e</label>
        </div>
        <div>
            <input type="checkbox" id="sortie_pas_inscrits" name="sortie_pas_inscrits">
            <label for="sortie_pas_inscrits">Sorties auxquelles je ne suis pas inscrit/e</label>
        </div>
        <div>
            <input type="checkbox" id="sortie_passées" name="sortie_passées">
            <label for="sortie_passées">Sorties passées</label>
        </div>
    </div>




    <div class="creasortie">
        <a href="{{path('creer_sortie') }}">
        <button type="button" class="btn btn-primary btn-lg">Créer une sortie</button>
        </a>
    </div>


{% endblock %}