{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-4 >
                    <div class="jumbotron"><span class="align-middle"></span>
                <h2>Inscription</h2>

                            {{ form_start(inscriptionForm) }}
                            {{ form_widget(inscriptionForm) }}<br>

                            <label type="campus">Campus</label><br>
                            <select name="campus" id="campus">
                                <option style="display:none">
                                    {% for campus in campusList %}
                                <option>{{ campus.nom }}</option>
                                {% endfor %}
                            </select><br><br>
                            <input type="file" value="Télécharger ma photo !"class= "btn btn-primary"
                                   src="{{ asset ('img/detective-avatar.jpg')}}">
                            <br><br>
                            <button class= "btn btn-primary" type="submit"> Enregister </button>
                            <button class= "btn btn-primary" type="submit"> Annuler </button><br>

                            {{ form_end(inscriptionForm) }}<br><br>
         </div>
    </div>
{% endblock %}
