{% extends 'base.html.twig' %}

{% block title %} Profil {% endblock %}

{%  block main %}

    <div class="ensemble-block">
    <div class="photo" >
    <img src="{{ asset ('img/detective-avatar.jpg')}}">
    </div>

    <div class="profil">

    <h1>{{ app.user.pseudo}} </h1>

        <p>  Prénom :{{ app.user.prenom }} </p>
        <p>  Nom :{{ app.user.nom }} </p>
        <p>  Télephone :{{ app.user.telephone }} </p>
        <p>  E-mail : {{ app.user.email }}</p>
        <p>  Campus :{{ campus.nom }} </p>

    <input type="button" class= "btn btn-primary" value="Retour">

    </div>
    </div>

{% endblock %}